<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
    
  <% if @wine.name != "" %>
    <%= form.label :qualification %>
    <%= form.text_field :qualification %>
  <% end %>
  <br>
  <h2>Oenologist</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @oenologist.each do |o|%>
        <tr>
          <td><%= o.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <h2>Strains</h2>

  <div id="wine_strains" class=""form-group">

    <div class="links form-inline">
      <%= link_to_add_association 'Add Strain', form, :wine_strains %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
